/* Trying to use margin padding to float to design template */

:root {
    --btnColor: #213349;
    --date1: #be8442;
    --date2: #bc6142;
    --date3: #bd425e;
    --footerSec2: #0b1016;
    --font1: "Oswald", sans-serif;
    --grad: radial-gradient(    
        at top center,
        #38587e, 
        #031620
    );
    --prim: #e97792;
    --sec: #26292e;
    --tert: #f4f4f6;
}


* {box-sizing: border-box;}

/* tag names */

body {
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: var(--tert);
}

/* classes */

.container1 {
    margin: 0;
    width: 96%;
    border: 1px solid rgb(234, 224, 224);
}

.laptop-img {
    margin-left: 50%;

}

.content-box {
    width: calc(100% / 3);
        /* border: 1px solid rgb(0, 38, 255); */
        padding: 20px 20px 20px;
        float: left;
        border-top: 1px sloid #aaa;
        border-right: 1px solid #aaa;
}




/* ids */

#headerSection2{
    width: 100%;
    padding: 8px 0;
    background-color: var(--prim);}


#headerSection {
    margin: 0;
    width: 100%;
    background-color: var(--sec);
}

#header {
    padding: 0 ;
    margin-bottom: 10px;
    color: var(--tert);
}

#topNav {
    margin-top: 20px;
    border: 1px solid black;
}

#container2 {
    margin: 0;
    padding: 0;
}

#moreSection2 {
    padding: 10px;
    border: 1px solid purple; 
}

